<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:allowBackup="false"
        android:icon="@null"
        android:label="NicoFeedCompanion"
        android:roundIcon="@null"
        android:supportsRtl="true"
        android:theme="@android:style/Theme"
        tools:ignore="DataExtractionRules"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="nicofeed" />
            </intent-filter>
        </activity>
    </application>

</manifest>